/* Globala stilar för applikationen */
.App, .page {
  text-align: center;
}

/* Main section stilar */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Film list container */
.film-list {
  list-style: none;
  margin: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgb(243, 225, 203);
  border-radius: 0 5px 5px 0; /* Rundar bara de högra hörnen */
  max-width: 900px;
}

.film-list img {
  width: 300px;
  border-radius: 5px 0 0 5px; /* Rundar bara de vänstra hörnen */
}

.film-info {
  margin: 0 2rem;
}

/* Sökfält */
.search {
  margin: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #646cff;
  width: 50%;
}

/* Favorite film button container */
.favorite-film-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

/* Button container */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
}

/* "Have seen" button styles */
.have-seen-btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: rgb(42, 41, 41);
  background-color: #fbfbff;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: inset -3px -3px 0px #0000004c;
  transition: background-color 300ms, color 300ms, transform 0.3s ease;
  height: 40px;
}

.have-seen-btn:hover {
  transform: scale(1.05);
}

/* Move button container */
.move-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Move button styles */
.move-btn {
  font-size: 1em;
  background-color: none;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.2em;
  transition: transform 0.3s ease;
}

.move-btn:hover {
  transform: scale(1.1);
}

.move-btn:disabled {
  pointer-events: none; 
  opacity: 0.5; 
  cursor: not-allowed;
}

/* Favorite film button styles */
.favorite-film-btn {
  border: none;
  cursor: pointer;
  padding: 0.25em 0.5em;
  height: 40px;
  border-radius: 0.5em;
  transition: transform 0.3s ease;
  font-size: 1em;
}

.favorite-film-btn:hover {
  transform: scale(1.1);
}

/* Toggle view button styles */
.toggle-view-btn {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: rgb(42, 41, 41);
  background-color: #fbfbff;
  border: 2px solid #646cff;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: inset -3px -3px 0px #0000004c;
  transition: background-color 300ms, color 300ms;
  margin-top: 1em;
}

.toggle-view-btn:hover {
  background-color: #535bf2;
  color: #ffffff;
}

/* Responsiva stilar */
@media screen and (max-width: 700px) {
  .film-list {
    flex-direction: column;
    max-width: 400px;
    border-radius: 0 0 5px 5px; /* Rundar bara bottenhörnen */
  }

  .film-list img {
    width: 400px;
    border-radius: 5px 5px 0 0; /* Rundar bara tophörnen */
  }
}

@media screen and (max-width: 470px) {
  .film-list {
    flex-direction: column;
    max-width: 300px;
    margin: 0;
    margin-bottom: 1em;
  }

  .film-list img {
    width: 300px;
  }

  .toggle-view-btn {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}
