.App, .Main {
  text-align: center;
}


.film-list {
  list-style: none;
  margin: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgb(250, 231, 205);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  
 

  img{
    width: 300px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  
  }
  .film-info{
    margin: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 700px) {
  .film-list {
    flex-direction: column;
  }
  
}

.search{
  margin: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #646cff;
  width: 50%;
}



